.header {
    background: url('../img/shapka.png') center (center / cover) no-repeat;
    min-height: 681px;
    padding: 40px 0 47px 0;
    &__menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                font-size: 20px;
                font-weight: normal;
                line-height: 1.2;
                color: #ffffff;
                padding: 5px 40px;
                &:hover {
                    background: url('../img/pri_navedenii.png') center (center/cover) no-repeat;
                    color: #ff4f9c;
                }
            }
        }
    }
    &__title {
        padding-top: 150px;
        font-size: 130px;
        font-weight: bold; 
        line-height: 0.19;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__subtitle {
        font-family: 'AnastasiaScriptC';
        font-size: 100px;
        font-weight: normal;
        line-height: 0.25;
        text-align: center;
        color: #ffffff;
        margin-top: 130px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 200px;
        font-size: 20px;
        font-weight: normal;
        line-height: 1.25;
        text-align: right;
        color: #ffffff;
    }
    &__m {
        display: none;
    }
    &__tel {
        color: #ffffff;
        &:hover {
            color: #fff;
        }
    }
}