.reviews {
    position: relative;
    min-height: 820px;
    &__bg {
        position: absolute;
        width: 1530px;
        height: 717px;
        background-color: #a5dee0;
        right: 0;
    }
    &__bg2 {
         position: absolute;
        width: 1582px;
        height: 729px;
        opacity: 0.5;
        background-color: #c7eaeb;
        right: 0;
        margin-top: 32px;
        z-index: -1;
    }
    &__title {
        position: absolute;
        margin-top: 35px;
        margin-left: 100px;
    }
}